name: Run pre-commit hooks and tests

on:
  push:
    branches:
      - "**"

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Run pre-commit hooks
        run: |
          poetry install --no-interaction --no-ansi
          poetry run pre-commit run --all-files --show-diff-on-failure

      - name: Run sqlfluff lint
        run: |
          export SPARK_SUBMIT_OPTS="-Dlog4j.configurationFile=file:$(pwd)/config/spark/log4j.properties"
          poetry run dbt deps --profile ecommerce_spark --project-dir dbt --profiles-dir dbt
          poetry run sqlfluff lint

      - name: Run dbt unit tests
        run: |
          export SPARK_SUBMIT_OPTS="-Dlog4j.configurationFile=file:$(pwd)/config/spark/log4j.properties"
          refs=$(grep -hEo "input: ref\\('[A-Za-z0-9_]+'\\)" dbt/tests/unit/*.yml | sed -E "s/.*ref\\('([A-Za-z0-9_]+)'\\)/\\1/" | sort -u | tr '\n' ' ')
          poetry run dbt seed --select "${refs}" --profile ecommerce_spark --project-dir dbt --profiles-dir dbt
          poetry run dbt test --select test_type:unit --profile ecommerce_spark --project-dir dbt --profiles-dir dbt
