name: Lint and dbt unit tests

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

env:
  SPARK_SUBMIT_OPTS: -Dlog4j.configurationFile=file:./config/spark/log4j.properties

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.2.1
          virtualenvs-in-project: true

      - name: Cache Poetry, venv and pre-commit
        uses: actions/cache@v4
        with:
          path: |
            .venv
            ~/.cache/pypoetry
            ~/.cache/pre-commit
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}

      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi

      - name: Run pre-commit
        run: poetry run pre-commit run --all-files --show-diff-on-failure

      - name: dbt deps (for sqlfluff templater)
        run: |
          poetry run dbt deps \
            --project-dir dbt \
            --profiles-dir dbt

      - name: Run sqlfluff
        run: poetry run sqlfluff lint

  dbt-unit-tests:
    needs: lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.2.1
          virtualenvs-in-project: true

      - name: Cache Poetry, dbt and Spark/Ivy
        uses: actions/cache@v4
        with:
          path: |
            .venv
            ~/.cache/pypoetry
            ~/.cache/dbt
            ~/.ivy2
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock', 'dbt/packages.yml') }}

      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi

      - name: Run dbt unit tests (correct pattern)
        run: |
          poetry run dbt run \
            --select +test_type:unit \
            --exclude test_type:unit \
            --empty \
            --project-dir dbt \
            --profiles-dir dbt

          poetry run dbt test \
            --select test_type:unit \
            --project-dir dbt \
            --profiles-dir dbt
